<article class="message is-info">
					  <div class="message-body">
					    <%= comment.body %>
					  	
					    <p>By <%= comment.user.username %> on [<%= comment.created_at.strftime("%I:%M %p") %></p>
					  </div>
					</article>