<section class="section">
  <div class="container">
    <div class="columns">
    	<div class="column is-half">
    		
						
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Post:</strong>
			  <%= @post.post %>
			</p>
			<% if current_user.email == @post.user.email %>
			<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %> 
			<%= link_to 'Back', posts_path %>
    	</div>
	</div>
  </div>
</section>



